/* CUSTOM COLORS */
/* update Bootstrap icon paths */
/***** NATIVE STYLING ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
body {
  background-color: #eeeeee;
  font-family: Economica;
  letter-spacing: 0.6px;
}
div {
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  color: #3d0000;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
hr.section-break {
  margin-top: 75px;
  margin-bottom: 75px;
  border-color: #ffffff;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
ul li {
  list-style-type: none;
  list-style-position: outside;
}
section {
  height: 100%;
  position: relative;
  display: block;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline {
  display: inline;
}
/* FONT AWESOME */
.fa-bullets {
  font-size: 20px;
}
/***** NAVIGATION ****** 
-------------------------------/
-------------------------------/
-------------------------------/
*/
/**** PREVENT NAVBAR COLLAPSE ****/
/**** ---------------------- ****/
.navbar {
  background-color: #ffffff;
  border-color: #eeeeee;
  height: 70px;
  border-radius: 0 0 5px 5px;
}
.navbar-header > a {
  font-size: 45px;
  color: #de6868 !important;
  margin-top: 10px;
  margin-left: 50px !important;
}
.navHeaderCollapse {
  background-color: white;
}
.nav-link {
  font-size: 36px;
  color: #de6868;
  padding-left: 7px !important;
}
.nav-link:hover {
  color: #3d0000;
}
/****** ABOUT US ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
#about-us-section {
  position: relative;
  margin-top: 120px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#about-us-section h1 {
  margin-bottom: 50px;
}
#about-us-section p {
  font-size: 30px;
}
#about-us-section p:nth-child(2) {
  margin-bottom: 50px;
}
#about-us-section p:nth-child(3) {
  margin-bottom: 25px;
}
.button {
  margin: 0 auto;
  border-radius: 4px;
}
.facebook {
  background-color: #de6868;
  font-size: 30px;
  width: 210px;
  height: 50px;
}
/****** OUR MISSION ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
#mission-section {
  width: 1000px;
  height: 450px;
  margin: 0 auto;
}
#mission-section > div h1 {
  margin-bottom: 50px;
}
#mission-section > div div:nth-child(1) {
  width: 50%;
  min-width: 400px;
  margin-left: 0px;
}
#mission-section > div div:nth-child(1) h2 {
  width: 100%;
  text-align: center;
  margin-left: 25px;
}
#mission-section > div div:nth-child(1) ul li {
  text-align: left;
}
#mission-section > div div:nth-child(2) {
  width: 50%;
}
#mission-section > div p {
  font-size: 24px;
  display: inline;
}
/****** CALENDAR OF EVENTS ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
#events-section {
  height: 450px;
}
.events-wrapper {
  margin: 0 auto;
  width: 1000px;
}
#upcoming-events {
  background-color: #ffffff;
  height: 458px;
  width: 315px;
  border-radius: 5px;
}
#event-description {
  margin: 0 auto;
  background-color: #ffffff;
  width: 675px;
  height: 458px;
  border-radius: 5px;
}
#event-description div:nth-child(1) {
  margin-top: 35px;
}
.event {
  height: 125px;
}
.event hr {
  margin: 0;
}
.event h3 {
  margin-top: 12px;
  color: #383838;
}
.event h4 {
  margin: 5px;
  color: #3d0000;
}
.event:hover {
  background-color: #de6868;
  cursor: pointer;
}
.event-content {
  height: 100px;
  margin-left: 10px;
}
.event-content p,
.event-content h3 {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.event-content p {
  font-size: 24px;
}
/****** OUR TEAM SECTION ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
#team-section {
  height: 1800px;
}
#team-wrapper {
  margin: 0 auto;
  height: 1500px;
  width: 800px;
  padding-left: 0;
  padding-right: 0;
}
.team-photo {
  display: inline-block;
  width: 238px;
  height: 380px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.team-photo img {
  display: block;
  width: 238px;
  height: 320px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.team-photo h4 {
  font-weight: 900;
  display: block;
  margin: 0;
  padding: 0;
}
.team-photo p {
  margin: 0;
  padding: 0;
  font-size: 22px;
}
/****** SPONSOR ******
-------------------------------/
-------------------------------/
-------------------------------/
*/
#sponsor-section {
  margin-bottom: 25px;
}
