/*
@font-face{
    font-family: "Rosario";
    src: url("../fonts/rosario/rosario-regular.otf");
}*/
@font-face{
    font-family: "Blessed";
    src: url("../fonts/billy-argel_blessed-day/BLESD___.otf");
}
@font-face{
    font-family: "Vibes";
    src: url("../fonts/typesetit_great-vibes/GreatVibes-Regular.ttf");
}
body{
    background-color: #F6F6F6;
    font-family: Economica, sans-serif;
    font-weight: 500;
    /*padding-top: 90px;*/
    height: 100%;
}
hr{
    padding: 0;
    width: 100%;
    height: 8px;
    background-color: #3d0000;
    border-color: #3d0000;
}
/**********NEW: *********/
/*section{ 
    min-height: 100vh;
}*/
#intro-image{
    /*background: #565656;
    background-color: rgb(86, 86, 86);*/
    background-image: url("../img/geisel-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}



/*NAVAR*/
#nav-header{
    /*background-color: #3d0000;*/
    border-color: transparent;
    border-radius: 0;
    background: transparent;
} 
/*NAVBAR NAME - ACADEMIC CONNECTION OF ENGINEERS*/
#nav-name{
    margin-top: 8px;
    font-family: Blessed;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #F6F6F6;

}
/*NAVBAR LINKS (ON RIGHT SIDE)*/
.nav-link{
    margin-top: 8px;
    color: #F6F6F6 !important;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: Blessed;
}

/*get rid of default carousel shadows*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}
/*carousel images*/
.carousel-inner>.item>img, .carousel-inner>.item>img {
display: block;
height: 500px;
max-width: 100%;
width: 100%;
border-radius: 7px;
}
.carousel-caption{
    top: 0;
    font-size: 24px;
}

#about{
    margin-top: -15px;
    background-color: #2B2B2B;
    margin-bottom: 0;
}
.pillar{
    color: white;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 45px;
}
.pillar-title{
    font-size: 30px;
}
.pillar-description{
    margin-top: 15px;
    color: white;
    font-size: 24px;
}
/*BIG COVER PHOTO*/
#cover-photo{
    /*background-image: url("../img/ace-cross-logo.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*height: 800px;*/
    background-color: black;
    /*margin-top: -175px;*/
} 

/*MAJOR DESCRIPTION (ABOUT/EVENTS/ETC)*/
.description{
    max-width: 900px;
    /*text-align: justify;*/
    text-align: center;
}

.content-title{
    font-size: 45px;
    color: #F6F6F6;
}

.content-body{
    font-size: 24px;
    /*text-align: center;*/
    color: #F6F6F6;
}
.row{
    margin-bottom: 50px;
}
.content-highlight{
    color: salmon;
    /*text-align: left;*/
    float: left;
}
.left{
    text-align: left;
    margin-left: 50px;
}

/*CALENDAR*/
#events{
}
.event{
    white-space: nowrap;
}
.cal{
    width: 65px;
    background-color: #E9E581;
    border-radius: 5px;
    display: inline-block;
}
.cal-month{
    color: white;
    width: 65px;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    background-color: #3d0000;
    border-radius: 5px;
    text-align: center;
}
.cal-day{
    margin-top: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.event-wrapper{
    display: inline-block;
    margin-left: 25px;
    max-width: 800px;
    bottom: 0;
}
.event-title{
    font-size: 20px;
    color: #2B2B2B;
    font-style: italic;
    width: 500px;
}
.event-info{
    font-size: 20px;
    color: #2B2B2B;
}
#footer{
    background-color: #3d0000;
    border-color: #3d0000;
    font-size: 18px;
    margin-bottom: 0px;
}

/* OUR TEAM */
#team{
    background-color: grey;
}



















